{% extends 'blog/base.html' %}
{% load  static %}
{% block content%}

<div class="col-sm-10">
    <h3 class="my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsum natus ad, minus cum recusandae odit necessitatibus delectus facilis nulla dolorum doloribus quibusdam exercitationem perspiciatis rerum inventore molestiae temporibus asperiores..<p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos quasi consequuntur tenetur numquam, ab repellat libero quaerat neque porro unde eos nam, cumque, aliquid non vitae deserunt corrupti impedit placeat.</p>
    </div>
</div>
{% endblock content%}