{% extends 'blog/base.html' %}
{% load  static %}
{% block side %}

<style>

.animate{
  height: 32px;
  width: 32px;
  transition: width 2s;
}
.animate:hover{
   width: 300px;
}
</style>
<div class="col-sm-10">
  <div align="center">
    <a href="{% url 'logout'%}"><svg id="i-signout" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
    </svg>Logout</a>
  </div>
  <div class="col-sm-2 text-center">
    <h4 class="my-5"><svg id="i-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
  </svg></h4>
    <h5>Name:{{full_name}}</h5>
    <h5>Email:{{email}}</h5>
    {% for group in groups %}
    <h5>Group:{{group.name}}</h5>
    {% endfor %}
  </div>

{% endblock side %}
{% block content%}
    <h3 class="my-5"><svg id="i-clipboard" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M12 2 L12 6 20 6 20 2 12 2 Z M11 4 L6 4 6 30 26 30 26 4 21 4" />
  </svg> Dashboard Page</h3>
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {% endif %}
    <div class="animate">
    <a href="{% url 'add_post'%}" class="btn btn-primary"><svg id="i-compose" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z" />
  </svg> Add Post</a>
  </div>
  <br></br>
    <h4 class="text-center alert alert-primary my-5">Show Post Information</h4>
    {% if posts %}
    <table class="table table-hover ">
      <thead>
        <tr class="text-center">
          <th scope="col" style="width:5%">ID</th>
          <th scope="col" style="width:12%">Title</th>
          <th scope="col" style="width:20%">Description</th>
          <th scope="col" style="width:12%">Photo</th>
          <th scope="col" style="width:12%">Ceated Date</th>
          <th scope="col" style="width:12%">Updated Date</th>
          <th scope="col" style="width:20%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for post in posts %}
        <tr>
          <th scope="row">{{post.id}}</th>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          {% if post.photo %}
          <td><img src="{{post.photo.url}}" alt="no image found" height=80 width=80></img></td>
          {% else %}
          <td><img src="/static/images/image_not_found.png" alt="" height=80 width=80></img></td>
          {% endif %}
          <td>{{post.created_at}}</td>
          <td>{{post.updated_at}}</td>
          <td class="text-center">
            <a href="{% url 'update_post' post.id %}" class="btn btn-warning btn-sm"><svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
          </svg></a>&nbsp;
            {% if  perms.blog.delete_post %}
            <form action="{% url 'delete' post.id %}" method="post" class="d-inline">
              {% csrf_token %}
            <button class="btn btn-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg></button>
            </form>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
   
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
    {% else %}
    <h4 class="text-center alert alert-warning">No Data Found</h4>
    {% endif %}
    </div>
</div>
{% endblock content%}