{% extends 'blog/base.html' %}
{% load  static %}
{% block content%}

<div class="col-sm-10">
    <h3 class="my-5">Dashboard Page</h3>
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {% endif %}
    <a href="{% url 'add_post'%}" class="btn btn-primary">Add Post</a>
    <h4 class="text-center alert alert-primary my-5">Show Post Information</h4>
    {% if posts %}
    <table class="table table-hover ">
      <thead>
        <tr class="text-center">
          <th scope="col" style="width:5%">ID</th>
          <th scope="col" style="width:12%">Title</th>
          <th scope="col" style="width:20%">Description</th>
          <th scope="col" style="width:12%">Photo</th>
          <th scope="col" style="width:12%">Ceated Date</th>
          <th scope="col" style="width:12%">Updated Date</th>
          <th scope="col" style="width:20%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for post in posts %}
        <tr>
          <th scope="row">{{post.id}}</th>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>{{post.created_at}}</td>
          <td>{{post.updated_at}}</td>
           {% if post.image %}
          <td><img src="{{post.photo.url}}" alt="" height=50 width=50></img></td>
          {% else %}
          <td><img src="/static/images/no_image_found.png" alt="" height=50 width=50></img></td>
          {% endif %}
          <td class="text-center">
            <a href="{% url 'update_post' post.id %}" class="btn btn-warning btn-sm">EDIT</a>
            <form action="{% url 'delete' post.id %}" method="post" class="d-inline">
              {% csrf_token %}
            <button class="btn btn-danger btn-sm">DELETE</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
   
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
    {% else %}
    <h4 class="text-center alert alert-warning">No Data Found</h4>
    {% endif %}
    </div>
</div>
{% endblock content%}