{% load static %}
<footer>
<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5><svg id="i-location" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <circle cx="16" cy="11" r="4" />
            <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" />
        </svg> Address</h5>
            <li <address class="nav-link p-0 text-muted">{{footer_address}}</address></li>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5><svg id="i-telephone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M3 12 C3 5 10 5 16 5 22 5 29 5 29 12 29 20 22 11 22 11 L10 11 C10 11 3 20 3 12 Z M11 14 C11 14 6 19 6 28 L26 28 C26 19 21 14 21 14 L11 14 Z" />
            <circle cx="16" cy="21" r="4" />
        </svg> Contact Us </h5>
          <ol class="nav flex-column">
            <li class="nav-item mb-2"><p class="nav-link p-0 text-muted">{{footer_contact}}</p></li>
          </ol>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5><svg id="i-feed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <circle cx="6" cy="26" r="2" fill="currentColor" />
            <path d="M4 15 C11 15 17 21 17 28 M4 6 C17 6 26 15 26 28" />
        </svg> Connect with Us </h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{footer_fb}}" class="nav-link p-0 text-muted">Facebook</a></li>
            <li class="nav-item mb-2"><a href="{{footer_ins}}" class="nav-link p-0 text-muted">Instagram</a></li>
            <li class="nav-item mb-2"><a href="{{footer_twi}}" class="nav-link p-0 text-muted">Twitter</a></li>
          </ul>
        </div>  
        
        <div class="col-lg-6 col-md-6" style="display: block;">
        <form enctype="multipart/form-data" method="POST" style="text-align: center;">
            {% csrf_token %}
            <div class="form-group">
                <h5><svg id="i-mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M2 26 L30 26 30 6 2 6 Z M2 6 L16 16 30 6" />
          </svg> Subscribe our newsletter</h5>
                <input type="email" class="form-control"  id="userEmail" placeholder="Enter email" required>
                <small style="font-weight: 600;color: red;" class="error"></small>
                <input type="text" class="form-control mt-2" id="userName" placeholder="Enter name" required>
                <small style="font-weight: 600;color: green;" class="success"></small>
            </div>
             <button type="submit" id="submit" class="btn btn-success">Subscribe</button>    
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'blog/js/app.js' %}"></script>
</body>
</html>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <div class="col-md-5 offset-md-1 mb-3"> 
          <a href="{% url 'terms'%}" class="col-6 col-md-2 mb-3">Terms and Conditions</a>
      </div>
        <p>&copy; 2022 Mack. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
        </ul>
      </div>
    </footer>
</div>
  
  
      <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
        
    </body>
</footer>
  </html>