{% extends 'blog/base.html' %} 
{% load static %} 
{% block content%}

<style>
  .no-display {
    display: none;
  }
  .responsive {
    max-width: 100%;
    height: auto;
    border-radius: 15px 30px;
  }
</style>
<div class="col-sm-10">
  <h3>
    <svg
      id="i-home"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="32"
      height="32"
      fill="none"
      stroke="currentcolor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    >
      <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z" />
    </svg>
    Home Page
  </h3>
  <br />
  <div id="spinner1">
  <div class="d-flex justify-content-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
</div>
</div>
  </div>
</div>
  </div>

  {% if messages %} {% for message in messages%}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %} {% endif %}
  <div id="post"></div>
  <script>
    const spinner = document.getElementById("spinner1");
    const post = document.getElementById("post");
    $.ajax({
      type: "GET",
      url: "/",
      success: function (res) {
        setTimeout(() => {
          spinner.classList.add("no-display");
          console.log("success");
          console.log("{{posts}}");
          post.innerHTML += `
    <form class="d-flex" role="search"  action="{% url 'search'%}">
      {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="search any post" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <br>
    {%for post in posts%}   
    <div class="jumbotron jumbotron" style="border-radius: 15px 50px;"> 
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">{{post.title}}</h1>
            <p class="lead">{{post.description}}</p>
            {% if post.photo%}
            <img src="{{post.photo.url}}" alt="no image found" class="responsive">
            {% else %}
            <td><img src="/static/images/image_not_found.png" alt="image not found" class="responsive"></img></td>
            {% endif %}
          <div class="container py-2">
            <h4 ><svg id="i-calendar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M2 6 L2 30 30 30 30 6 Z M2 15 L30 15 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9" />
          </svg> Created On: {{post.created_at}}</h4>
        </div> 
        </div>
    </div>
        {% endfor %}
</div>
    `;
        }, 2000);
      },
      error: function (er) {
        console.log("error found..");
      },
    });
  </script>

  {% endblock content%}
</div>
