{% extends 'blog/base.html' %} {% load static %} {% block content%}

<style>
.button{
  position:relative;
  padding:8px 16px;
  background:skyblue;
  border:none;
  border-radius:2px;
  cursor:pointer;
  
}
.button:active{
  background:  #007a63;
}
.button__text{
  font: bold 20px 'Quicksand',san-serif;
  color:#ffffff;
  align:center;
  transition:all 2s;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<script>
$(function() {
    // Add refresh button after field (this can be done in the template as well)
    $('img.captcha').after(
            $('<a href="#void" class="captcha-refresh">Refresh</a>')
            );

    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        var $form = $(this).parents('form');
        var url = location.protocol + "//" + window.location.hostname + ":"
                  + location.port + "/captcha/refresh/";

        // Make the AJAX-call
        $.getJSON(url, {}, function(json) {
            $form.find('input[name="captcha_0"]').val(json.key);
            $form.find('img.captcha').attr('src', json.image_url);
        });

        return false;
    });
});
</script>
<img src="/static/blog/css/images/Mini BLog.gif" class="center" alt="no image"   height=200px; style="object-fit:cover;"></img>
<div class="col-sm-10">
  <h3 class="my-5">
    <svg
      id="i-signin"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="32"
      height="32"
      fill="none"
      stroke="currentcolor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    >
      <path d="M3 16 L23 16 M15 8 L23 16 15 24 M21 4 L29 4 29 28 21 28" />
    </svg>
    Login
  </h3>
  <form action="" method="post" novalidate>
    {% csrf_token %} {% for fm in form %}
    <div class="form-group">
      {{fm.label_tag}} {{fm}}
      <strong class="text-danger">{{fm.errors|striptags}}</strong>
    </div>
    {% endfor %}
    <button type ="button "class="button btn-block" id="login" onclick="spinnerFunction()">
    <span class="button__text">Login</span>
    </button><br />
    <div id="spinner1">
  </div>
</div>
  </div>
  <div id="loading1"></div>
  
  <script>
    const spinner = document.getElementById("spinner1");
    const post = document.getElementById("loading1");
    function spinnerFunction(){
      url: "{% url 'dashboard'%}",
      document.getElementById("login").innerHTML = "loading"
    }
    $.ajax({
      type: "GET",
      url: "{% url 'dashboard'%}",
      success: function (res) {
        setTimeout(() => {
          spinner.classList.add("no-display");
          console.log("success");
        }, 500);
      },
      error: function (er) {
        console.log("error found..");
      },
    });
  </script>
    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor%} {% endif %}
    <a class="small text-muted" href="{% url 'password_change'%}"
      >Forgot password?</a
    >
    <p class="mb-2 pb-lg-2" style="color: #393f81">
      Don't have an account?
      <a href="{% url 'signup'%}" style="color: #393f81">Register here</a>
    </p>
    <a href="{% url 'terms'%}" class="small text-muted">Terms of use.</a>
  </form>
</div>
{% endblock content%}
