{% extends 'blog/base.html' %}
{% load static %}          
{% block content %}

<script>
$(function() {
    // Add refresh button after field (this can be done in the template as well)
    $('img.captcha').after(
            $('<a href="#void" class="captcha-refresh">Refresh</a>')
            );

    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        var $form = $(this).parents('form');
        var url = location.protocol + "//" + window.location.hostname + ":"
                  + location.port + "/captcha/refresh/";

        // Make the AJAX-call
        $.getJSON(url, {}, function(json) {
            $form.find('input[name="captcha_0"]').val(json.key);
            $form.find('img.captcha').attr('src', json.image_url);
        });

        return false;
    });
});
</script>
	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Enter your email address below, and we'll send you instructions for setting a new password.</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
			{{password_reset_form.as_p}}
			<button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div> 
{% endblock %}