{% extends 'blog/base.html'%}
{% block content%}

<h1><mark>Search Result Found </mark></h1>
  <center><br><br></br></br>
  {% if post %}
  {% for i in post %}
  <div class="jumbotron">
    <h2>
        <a href="/{{i.slug}}">{{i.id}} {{i.title}}</a>
    </h2>
    </div>
  {% endfor %}
  <a href="/" class="btn btn-secondary">Back</a><br></br>
  {% else %}
  <div class="jumbotron">
    <h1>No result found </h1>
</div>
<div style="width:200px; height:300px;">
  <a href="/" class="btn btn-secondary">Back</a>
</div>
  {% endif %}
{% endblock content%}